<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541367103107-cv9gqeavsmtslnuk3j35p9ecjca8g733.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541367103107-cv9gqeavsmtslnuk3j35p9ecjca8g733</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541367103107-85pr6smv3ev1bum5ftjluh0c1jkg6cqm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASHGVzK4_2-Sq-TMTyrXF1NhOHgNcxRsc</string>
	<key>GCM_SENDER_ID</key>
	<string>541367103107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choai.sportM</string>
	<key>PROJECT_ID</key>
	<string>sport-cf3bb</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-cf3bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541367103107:ios:8cf63edcd1b196d82475b6</string>
</dict>
</plist>