<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013531353218-kbt9udt23u6af74m3ikamvo2olu4aq6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013531353218-kbt9udt23u6af74m3ikamvo2olu4aq6f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013531353218-j9e4md94kidg3pe89dtg4gg6e7s18vl9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVVwOj1o83jOFBkFT8KWH-DVjxEqLdGo0</string>
	<key>GCM_SENDER_ID</key>
	<string>1013531353218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choai.sportM</string>
	<key>PROJECT_ID</key>
	<string>sportm-eb72c</string>
	<key>STORAGE_BUCKET</key>
	<string>sportm-eb72c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013531353218:ios:781beef50d4d79b352949b</string>
</dict>
</plist>